@import '../node_modules/@xterm/xterm/css/xterm.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box !important;
}
.xterm {
  @apply h-full;
}

.cm-scroller, .xterm-viewport {
  @apply !overflow-auto !h-full;
}

.cm-scroller::-webkit-scrollbar, .xterm-viewport::-webkit-scrollbar {
  @apply !w-1.5 !h-1.5 relative;
}

.cm-scroller::-webkit-scrollbar-thumb, .xterm-viewport::-webkit-scrollbar-thumb {
  @apply bg-gray-400 rounded-md;
}

.cm-scroller::-webkit-scrollbar-thumb:hover, .xterm-viewport::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-300;
}

.cm-scroller::-webkit-scrollbar-track, .xterm-viewport::-webkit-scrollbar-track {
  @apply bg-transparent rounded mr-2;
}

.cm-scroller::-webkit-scrollbar-corner, .xterm-viewport::-webkit-scrollbar-corner {
  @apply bg-transparent;
}

.cm-scroller::-webkit-scrollbar-corner, .xterm-viewport::-webkit-scrollbar-corner {
  @apply bg-transparent;
}

.gutter.gutter-horizontal {
  cursor: col-resize;
}

.gutter.gutter-vertical {
  cursor: row-resize;
}

@layer components {
  .range-input {
    @apply w-full h-2 bg-stone-500 rounded-2xl cursor-pointer appearance-none;
  }
  .range-input::-webkit-slider-thumb {
    @apply w-3 h-3 bg-gray-200 rounded-xl border border-stone-500 -mt-[2px];
    appearance: none;
  }
  .range-input::-moz-range-thumb {
    @apply w-3 h-3 bg-gray-200 rounded-xl border border-stone-500;
  }
  .range-input::-ms-thumb {
    @apply w-3 h-3 bg-gray-200 rounded-xl border border-stone-500;
  }
  .range-input::-webkit-slider-runnable-track {
    @apply bg-stone-500 h-2 rounded-2xl;
  }
  .range-input:focus {
    @apply outline-none;
  }
}
